@model IEnumerable<SachOnline.Models.BINHLUAN>

@{
    ViewBag.Title = "BinhLuan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>BÌNH LUẬN PHẢN HỒI VỀ HỆ THỐNG</h2>

<table class="table">
    <tr>
        <th style="text-transform:uppercase">
            Nội dung bình luận
        </th>
        <th style="text-transform:uppercase">
            Họ tên
        </th>
        <th style="text-transform:uppercase">
            Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDungBinhLuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailKH)
        </td>
        <td>
            @Html.ActionLink("Xem chi tiết", "DetailBL", new { id=item.MaBinhLuan }) |
        </td>
    </tr>
}

</table>
